@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    outline-color: theme('colors.ring');
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 0;
    outline-opacity: 0.5;
  }
  body {
    @apply bg-background text-foreground;
  }
}
